.no-js img.lazyload {
    display: none;
}

figure.wp-block-image img.lazyloading {
    min-width: 150px;
}

.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0ms;
}

/* --------------------- CSS BASICO ------------------ */


h1, h2, h3, h4, h5, h6 ,p {
            font-family: 'heron', Arial, Helvetica, sans-serif;
            font-weight: 300;
        }

        .home .oxy-repeater-pages-wrap {
            display: none;
        }

        #_nav_menu-8-164 .menu-item a,
        #_nav_menu-6-1425 .menu-item a {
            border-bottom: 3px solid rgba(0, 0, 0, 0)
        }

        #_nav_menu-8-164 .menu-item:hover a,
        #_nav_menu-6-1425 .menu-item:hover a {
            border-bottom: 3px solid rgba(0, 0, 0, 1)
        }

        .oxy-sticky-header-active img {
            max-width: 60%;
            margin-bottom: 0 !important;
        }

        .oxy-sticky-header-active .oxy-header-row {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
        }

        .oxy-nav-menu-open .menu-item a {
            font-size: 18px !important;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .oxy-nav-menu-open .hide-me-mobile>a {
            display: none !important
        }

        #imageGallery li img,
        #imageGallery-two li img {
            width: 100% !important;
        }


        @media screen and (max-width:768px) {

            h2,
            .title-2 {
                font-family: 'heron';
                font-size: 25px;
                color: #000000;
                text-align: left;
                font-weight: 500;
            }

            #headline-8-143 {
                font-size: 40px !important;
            }

            #code_block-24-164 img {
                max-width: 300px;
            }
        }

        #imageGallery,
        #imageGallery-two {
            max-height: 600px;
        }

        #text1,
        #text2,
        #text3 {
            display: flex;
        }

        .wp-image-1345,
        .wp-image-1348,
        .wp-image-1351 {
            margin-right: 10px;
        }

        #span-106-178>span {
            color: #686868;
        }

        /* From pàg. contacte */
        #gform_submit_button_1,
        #gform_submit_button_2,
        #gform_submit_button_3,
        #gform_submit_button_4 {
            background-color: #00abf4;
            border: none;
            padding: 10px 15px;
            font-weight: bold;
        }

        #input_1_1,
        #input_1_2,
        #input_1_3,
        #input_2_1,
        #input_2_2,
        #input_2_3,
        #input_3_1,
        #input_3_2,
        #input_3_3,
        #input_4_1,
        #input_4_2,
        #input_4_3 {
            width: 100%;
        }

        @media screen and (max-width:1120px) {
            li#menu-item-1403>a {
                display: none;
            }
        }

        .equipment {
            color: #636363;
            text-transform: uppercase;
        }

        .list-car {
            list-style: none;
            margin-left: -15px;
        }

        .list-car li:before {
            content: '';
            display: inline-block;
            height: 15px;
            width: 15px;
            background-size: 15px;
            background-image: url('/wp-content/uploads/2020/06/1024px-Check_font_awesome.png');
            margin-right: 5px;

        }

        #imageGallery li img,
        #imageGallery-two li img {
            width: auto !important;
            max-width: 1080px;
            height: 700px;
        }

        @media screen and (max-width:500px) {

            #imageGallery li img,
            #imageGallery-two li img {
                width: 250px !important;
                max-width: auto;
                height: auto;
            }

        }

        .lSAction {
            display: none;
        }

        .unslider-arrow {
            height: 50px !important;
            width: 50px !important;
            background-color: rgba(0, 0, 0, 1) !important;
            opacity: 0.7 !important;
        }

        .unslider-arrow:hover {
            opacity: 1 !important;
        }

        .final {
            margin-bottom: 20px !important;
        }

        @media screen and (max-width:400px) {
            .code_block-24-164 img {
                width: 200px !important;
                height: 50px !important;
            }
        }

        /* ap i hotels slider*/

        .lSSlideOuter .lSSlideWrapper #imageGallery-two,
        .lSSlideOuter .lSSlideWrapper #imageGallery {
            text-align: center;
        }

        .lSAction>.lSPrev {
            background-position: 0 0;
            left: 15px;
            background-color: black;
            background-size: contain;
            opacity: 0.5;
            background-image: url(/wp-content/uploads/2019/08/icon_hotel-Port-Selva-arrow.png);
        }

        .lSAction>.lSNext {
            background-position: 0 0;
            right: 15px;
            background-color: black;
            opacity: 0.5;
            background-size: contain;
            background-image: url(/wp-content/uploads/2019/08/icon_hotel-Port-Selva-arrow-02.png);
        }

        #section-62-189 img {
            max-width: 1080px;
        }

        /* menu hotels restaurants espanyol*/
        li#menu-item-1902 a,
        li#menu-item-1900 a,
        li#menu-item-1899 a,
        li#menu-item-1898 a,
        li#menu-item-1901 {
            margin-left: 100px;
        }

        li#menu-item-205 a,
        li#menu-item-315 a,
        li#menu-item-314 a,
        li#menu-item-316 a {
            padding-left: 135px !important;
        }

        li#menu-item-2390 a,
        li#menu-item-2391 a {
            padding-left: 95px !important;
        }

        li#menu-item-2394 a,
        li#menu-item-2395 a {
            margin-left: 70px;
        }

        li#menu-item-1902,
        li#menu-item-205 {
            background-image: url(/wp-content/uploads/2019/08/hotelmardamunt.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        li#menu-item-1900,
        li#menu-item-315 {
            background-image: url(/wp-content/uploads/2020/06/Porto-Cristo.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 5% 95%;
        }

        li#menu-item-1899,
        li#menu-item-314 {
            background-image: url(/wp-content/uploads/2019/08/hotelspacapdecreus.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        li#menu-item-1898,
        li#menu-item-316 {
            background-image: url(/wp-content/uploads/2019/08/hotelagora.png);
            background-size: contain;
            background-repeat: no-repeat;
        }

        li#menu-item-2394,
        li#menu-item-2390 {
            background-image: url(/wp-content/uploads/2020/06/logo-monterrey-sencer.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 10% 90%;
        }

        li#menu-item-2395,
        li#menu-item-2391 {
            background-image: url(/wp-content/uploads/2020/06/Logo_la_timba-scaled.jpg);
            background-size: contain;
            background-repeat: no-repeat;
        }

      

        /*Imatge slider apartaments*/
        @media screen and (max-width:1600px) and (min-width:770px) {

            #div_block-489-6,
            #div_block-494-6,
            #div_block-498-6,
            #div_block-502-6,
            #div_block-506-6,
            #div_block-488-1265,
            #div_block-492-1265,
            #div_block-492-1265,
            #div_block-504-1265,
            #div_block-508-1265,
            #div_block-488-1200,
            #div_block-492-1200,
            #div_block-496-1200,
            #div_block-500-1200,
            #div_block-506-1200,
            #div_block-490-1387,
            #div_block-495-1387,
            #div_block-499-1387,
            #div_block-503-1387,
            #div_block-507-1387 {
                height: 600px !important;
            }
        }

        @media screen and (max-width:1500px) and (min-width:770px) {

            #div_block-489-6,
            #div_block-494-6,
            #div_block-498-6,
            #div_block-502-6,
            #div_block-506-6,
            #div_block-488-1265,
            #div_block-492-1265,
            #div_block-492-1265,
            #div_block-504-1265,
            #div_block-508-1265,
            #div_block-488-1200,
            #div_block-492-1200,
            #div_block-496-1200,
            #div_block-500-1200,
            #div_block-506-1200,
            #div_block-490-1387,
            #div_block-495-1387,
            #div_block-499-1387,
            #div_block-503-1387,
            #div_block-507-1387 {
                height: 560px !important;
            }
        }

        @media screen and (max-width:1400px) and (min-width:770px) {

            #div_block-489-6,
            #div_block-494-6,
            #div_block-498-6,
            #div_block-502-6,
            #div_block-506-6,
            #div_block-488-1265,
            #div_block-492-1265,
            #div_block-492-1265,
            #div_block-504-1265,
            #div_block-508-1265,
            #div_block-488-1200,
            #div_block-492-1200,
            #div_block-496-1200,
            #div_block-500-1200,
            #div_block-506-1200,
            #div_block-490-1387,
            #div_block-495-1387,
            #div_block-499-1387,
            #div_block-503-1387,
            #div_block-507-1387 {
                height: 510px !important;
            }
        }

        @media screen and (max-width:1300px) and (min-width:770px) {

            #div_block-489-6,
            #div_block-494-6,
            #div_block-498-6,
            #div_block-502-6,
            #div_block-506-6,
            #div_block-488-1265,
            #div_block-492-1265,
            #div_block-492-1265,
            #div_block-504-1265,
            #div_block-508-1265,
            #div_block-488-1200,
            #div_block-492-1200,
            #div_block-496-1200,
            #div_block-500-1200,
            #div_block-506-1200,
            #div_block-490-1387,
            #div_block-495-1387,
            #div_block-499-1387,
            #div_block-503-1387,
            #div_block-507-1387 {
                height: 475px !important;
            }
        }

        @media screen and (max-width:1200px) and (min-width:770px) {

            #div_block-489-6,
            #div_block-494-6,
            #div_block-498-6,
            #div_block-502-6,
            #div_block-506-6,
            #div_block-488-1265,
            #div_block-492-1265,
            #div_block-492-1265,
            #div_block-504-1265,
            #div_block-508-1265,
            #div_block-488-1200,
            #div_block-492-1200,
            #div_block-496-1200,
            #div_block-500-1200,
            #div_block-506-1200,
            #div_block-490-1387,
            #div_block-495-1387,
            #div_block-499-1387,
            #div_block-503-1387,
            #div_block-507-1387 {
                height: 435px !important;
            }
        }

        /* Fi imatge slider apartaments */
        /*@media screen and (max-width:450px) {
.title-2 .cajablanca.azul{
	line-height: 0.97!important;
  margin-bottom: 0px!important;
  margin-top:0px;
}
}*/

        /*@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0)
{ 
	.safari10 .ui_bubble_rating.bubble_35{
			width:25px;
		}	
}*/

        /*@media screen and (max-width:1200px) {
@media not all and (min-resolution:.001dpcm) { 
     @supports (-webkit-appearance:none) {
.cdsComponent.cdsRating .ui_bubble_rating.bubble_45:after,
			 .cdsComponent.cdsRating .ui_bubble_rating.bubble_35:after , .cdsComponent.cdsRating .ui_bubble_rating.bubble_40:after {
white-space: pre;
content: "        \e00b\e00b\e00b\e00b\e00c"!important;
font-size: 17.5px!important;
}
		     }
}
}*/


        /*@media screen and (max-width:700px) {
	div#code_block-24-164 {
    max-width: 270px!important;
}

#code_block-24-164 .cdsComponent.cdsLocName a {
    font-size: 14px!important;
}

#code_block-24-164 img.ls-is-cached.lazyloaded {
    max-width: 265px!important;
}
}*/
    

img {
    margin-bottom: 10px;
}

.cdsComponent.logo {
    display: none;
}

.cdsROW.white.border.narrow {
    background-color: #202b2b;
    max-width: 100% !important;
}

.cdsROW.narrow.border {
    padding: 6px 11px 11px;
}


.cdsComponent.cdsLocName a {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}

.cdsROW.border {
    border: none;
}

.cdsROWContainer {
    background-color: #202b2b;
}

.cdsROW .logo img {
    display: none;
}

.cdsROW.wide .logo {
    border: none;
    padding: 0;
}

.cdsComponent.cdsLocName {
    width: 100% !important;
}

.cdsROW a,
.cdsROW a:hover {
    text-decoration: none;
}


.cdsROW .cdsRating .ui_bubble_rating {
    font-size: 12px;
    margin-bottom: 1px;
    padding-right: 10px;
}

.cdsROW.narrow {
    width: 100%;
    text-align: left;
}

.cdsROW.narrow .cdsRating {
    line-height: 100%;
    display: inline-flex;
}

.ui_bubble_rating.bubble_45:before {
    white-space: pre;
    content: "4.5   \e00a\e00a\e00a\e00a\e00a";
    font-size: 17px;
}

.ui_bubble_rating.bubble_45:after {
    white-space: pre;
    content: "4.5   \e00b\e00b\e00b\e00b\e00c" !important;
    font-size: 17px;
}

.ui_bubble_rating.bubble_50:before {
    white-space: pre;
    content: "5.0   \e00a\e00a\e00a\e00a\e00a";
    font-size: 17px;
}

.ui_bubble_rating.bubble_50:after {
    white-space: pre;
    content: "5.0   \e00b\e00b\e00b\e00b\e00b" !important;
    font-size: 17px;
}

.ui_bubble_rating.bubble_40:before {
    white-space: pre;
    content: "4.0   \e00a\e00a\e00a\e00a\e00a";
    font-size: 17px;
}

.ui_bubble_rating.bubble_40:after {
    white-space: pre;
    content: "4.0   \e00b\e00b\e00b\e00b\e00d" !important;
    font-size: 17px;
}

.ui_bubble_rating.bubble_35:before {
    white-space: pre;
    content: "3.5   \e00a\e00a\e00a\e00a\e00a";
    font-size: 17px;
}

.ui_bubble_rating.bubble_35:after {
    white-space: pre;
    content: "3.5   \e00b\e00b\e00b\e00c\e00d" !important;
    font-size: 17px;
}

.ui_bubble_rating.bubble_30:before {
    white-space: pre;
    content: "3.0   \e00a\e00a\e00a\e00a\e00a";
    font-size: 17px;
}

.ui_bubble_rating.bubble_30:after {
    white-space: pre;
    content: "3.0   \e00b\e00b\e00b\e00d\e00d" !important;
    font-size: 17px;
}

.ui_bubble_rating.bubble_25:before {
    white-space: pre;
    content: "2.5   \e00a\e00a\e00a\e00a\e00a";
    font-size: 17px;
}

.ui_bubble_rating.bubble_25:after {
    white-space: pre;
    content: "2.5   \e00b\e00b\e00c\e00d\e00d" !important;
    font-size: 17px;
}

.ui_bubble_rating.bubble_20:before {
    white-space: pre;
    content: "2.0   \e00a\e00a\e00a\e00a\e00a";
    font-size: 17px;
}

.ui_bubble_rating.bubble_20:after {
    white-space: pre;
    content: "2.0   \e00b\e00b\e00d\e00d\e00d" !important;
    font-size: 17px;
}

.cdsROW .cdsRating span {
    vertical-align: baseline;
    color: #fff;
    font-size: 17px;
}


@media only screen and (max-width: 1250px) {
    .ui_bubble_rating.bubble_45:before {
        white-space: pre;
        content: "4.5   \e00a\e00a\e00a\e00a\e00a";
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_45:after {
        white-space: pre;
        content: "4.5   \e00b\e00b\e00b\e00b\e00c" !important;
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_50:before {
        white-space: pre;
        content: "5.0   \e00a\e00a\e00a\e00a\e00a";
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_50:after {
        white-space: pre;
        content: "5.0   \e00b\e00b\e00b\e00b\e00b" !important;
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_40:before {
        white-space: pre;
        content: "4.0   \e00a\e00a\e00a\e00a\e00a";
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_40:after {
        white-space: pre;
        content: "4.0   \e00b\e00b\e00b\e00b\e00d" !important;
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_35:before {
        white-space: pre;
        content: "3.5   \e00a\e00a\e00a\e00a\e00a";
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_35:after {
        white-space: pre;
        content: "3.5   \e00b\e00b\e00b\e00c\e00d" !important;
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_30:before {
        white-space: pre;
        content: "3.0   \e00a\e00a\e00a\e00a\e00a";
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_30:after {
        white-space: pre;
        content: "3.0   \e00b\e00b\e00b\e00d\e00d" !important;
        font-size: 17.6px;
    }

    .ui_bubble_rating.bubble_25:before {
        white-space: pre;
        content: "2.5   \e00a\e00a\e00a\e00a\e00a";
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_25:after {
        white-space: pre;
        content: "2.5.   \e00b\e00b\e00c\e00d\e00d" !important;
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_20:before {
        white-space: pre;
        content: "2.0   \e00a\e00a\e00a\e00a\e00a";
        font-size: 18px;
    }

    .ui_bubble_rating.bubble_20:after {
        white-space: pre;
        content: "2.0  \e00b\e00b\e00d\e00d\e00d" !important;
        font-size: 18px;
    }
}



/*@media screen and (max-width:1200px) {
@media not all and (min-resolution:.001dpcm) { 
@supports (-webkit-appearance:none) {
.cdsComponent.cdsRating .ui_bubble_rating.bubble_45:after, .cdsComponent.cdsRating .ui_bubble_rating.bubble_35:after , .cdsComponent.cdsRating .ui_bubble_rating.bubble_40:after {
white-space: pre;
content: "2.0   \e00b\e00b\e00b\e00b\e00c"!important;
font-size: 18px!important;
}
.cdsComponent.cdsRating .ui_bubble_rating.bubble_45:before, .cdsComponent.cdsRating .ui_bubble_rating.bubble_35:before , .cdsComponent.cdsRating .ui_bubble_rating.bubble_40:before {
white-space: pre;
content: "2.0   \e00a\e00a\e00a\e00a\e00a";
font-size: 18px;
}
     }
}
}*/

.form-group form {
    display: flex;
    flex-direction: row;
}

.form-group label {
    flex: none;
    display: block;
    width: 125px;
    font-weight: bold;
    font-size: 1em;
}

.form-group label.right-inline {
    text-align: right;
    padding-right: 8px;
    padding-left: 10px;
    width: auto;
}

.form-group .input-control {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
    margin-top: -4px;
}

button {
    padding: 5px 15px;
    margin: 5px;
    min-width: 100px
}

.form-group form div {
    margin: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.form-group form div select,
.form-group form div input {

    padding: 18px 10px;
    height: 100%;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: white;
    border: 1px rgb(193, 193, 193) solid;


}

.form-group form div select {
    padding: 18px 30px 18px 10px;
}

.form-group form div input[type="submit"] {
    padding: 18px 30px;
    background-color: #00b6ff;
    color: white;
    text-transform: uppercase;
    border: none;

}

.form-group form div i {
    position: absolute;
    right: 10px;
    color: #00b6ff;
    pointer-events: none;
}

@media (max-width: 992px) {

    .form-group form {
        flex-direction: column;
    }

    .form-group form div select,
    .form-group form div input {
        width: 100%;
    }
}

.oxy-posts-grid {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.oxy-read-more {
    bottom: 16px;
    display: block;
}

.oxy-post-meta-item {
    margin-left: 16px;
    margin-top: 0;

    font-size: 0.8em;
    background: #fff;

}

.oxy-post {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    width: 450px;
    height: 50%;
    margin: 15px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}

.oxy-post-image {
    margin-bottom: 1em;
    position: static;
    width: 100%;
    height: 60%;

}

.oxy-post-image-fixed-ratio {
    padding-bottom: 85%;
    background-size: cover;
    background-position: center center;
}


.oxy-post-title {
    font-size: 1.4em;
    line-height: 1em;
    padding-bottom: 16px;
    height: 50px;
    margin: 16px;
    color: black;
    font-weight: 500;
}

.oxy-post-title::after {
    border-bottom-style: solid;
}

.oxy-post-meta-item::after {
    margin-left: .5em;
}

.oxy-post-meta-item:last-child::after {
    content: "";
    display: none;
}

.oxy-post-content {
    margin-top: 1em;
    margin-bottom: 1em;
}

.oxy-post-content p {
    margin: 0;
}

.final {
    margin-left: 16px;
    margin-bottom: 8px;
}

@media (max-width: 1120px) {
    .oxy-post-meta {
        display: none;
    }
}




@media (max-width: 580px) {
    .oxy-post {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        width: 400px;
        height: 50%;
        margin: 15px;
        background: #fff;
    }
}

@media (max-width:411px) {
    .oxy-post {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        width: 100%;
        height: 50%;
        margin: 15px;
        background: #fff;
    }

    .final {
        margin-top: 15px;
    }
}

/* Estilo info de contacto */

.info-contacto {
    background-color:black;
    color:white;
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 10px;
    box-sizing:border-box;
}
.info-contacto> * {
    align-content: center;
    font-weight:bold;
}

/* Estilo formulario */

.contact-info-form {
    position: relative;
    display: block;
    width:100%;
   margin:auto;
    border-radius: 7px;
}
.centro{
    margin: auto;
}
.mensaje div:first-child
{
    outline: solid 28px white;
    outline-offset: -10px;
    border-radius: 0.1px;
}
.contact-info-form form {
    position: relative;
    display: block;
    padding: 20px 20px 20px;
    /* background: white;  */
}


.contact-info-form form .input-box {
    position: relative;
    margin-bottom: 20px;
}

.contact-info-form form .input-box input[type=text],
.contact-info-form form .input-box input[type=email],
.contact-info-form form .input-box textarea {
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    border: 2px solid #A0A0A0;
    padding: 0 20px;
    color: #868298;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    transition: all 500ms ease;
}




.contact-info-form form .input-box textarea {
    height: 205px;
    padding: 15px 20px;
}

.contact-info-form form .input-box button {
   
    border-radius: 10px;
    width: 157px;
    height: 56px;
}
#botonFormulario{  
    /* background-color:wheat; */
    margin-top:50px;
}
#botonFormulario 
{
    display:flex;
    justify-content: right;
    /* left:81%; */
}

.contact-info-form form .input-box input[type=text]:focus {
    border-color: #74BC1F;
}

.contact-info-form form .input-box input[type=email]:focus {
    border-color: #74BC1F;
}

.contact-info-form form .input-box textarea:focus {
    border-color: #74BC1F;
}

.call-us-area {
    position: relative;
    display: block;
    padding-top: 100px;
    z-index: 3;
    padding-bottom: 6em;
}

textarea {
    overflow: auto;
    resize: vertical;
}

#consulta{
    display:flex;
    justify-content: center;
}


.call-us-area .call-us-bg {
    /* display:flex; */
    justify-content:center;
    position: absolute;
   top: 60%;
    right: 0;
    width: 100%;
    height: 18em;
    background-attachment: scroll;
    background-position: top right;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;
    opacity: 0.5;
}

/* tarjetas de precios */

body:not([id^="migrate"]) .row--layout-pricing-1a .column {
    padding: 32px;
}
.row--layout-pricing-1a.row--style-light .column, #migrated-site .row--layout-pricing-1a.row--style-light .column {
    border-color: #f5e9dd;
}
.row--layout-pricing-1a .column, #migrated-site .row--layout-pricing-1a .column {
    -webkit-align-self: normal;
    -moz-align-self: normal;
    -ms-align-self: normal;
    -ms-flex-item-align: normal;
    -ms-flex-align: normal;
    align-self: normal;
    border: 2px solid;
    border-radius: 6px;
    box-shadow: 0 2px 0px rgb(0 0 0 / 2%);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: column;
    -webkit-box-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.responsivecolumns .column {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    min-height: 30px;
    position: relative;
}
.columns-three-left, .columns-three-middle, .columns-three-right {
    -webkit-flex-basis: 33.33%;
    -moz-flex-basis: 33.33%;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    max-width: 33.33%;
}
/* .widget:after {
    content: "";
    display: table;
    clear: both;
}

.widget[data-name="content"]+[data-name="button"], .widget[data-name="content"]+[data-name="gallery"], .widget[data-name="content"]+[data-name="image"], .widget[data-name="content"]+[data-name="slideshow"], .widget[data-name="content"]+[data-name="map"], .widget[data-name="content"]+[data-name="contactform"], .widget[data-name="content"]+[data-name="signupform"], .widget[data-name="content"]+[data-name="tweet"], .widget[data-name="content"]+[data-name="dropbox"], .widget[data-name="contentgroup"]+[data-name="button"], .widget[data-name="contentgroup"]+[data-name="gallery"], .widget[data-name="contentgroup"]+[data-name="image"], .widget[data-name="contentgroup"]+[data-name="slideshow"], .widget[data-name="contentgroup"]+[data-name="map"], .widget[data-name="contentgroup"]+[data-name="contactform"], .widget[data-name="contentgroup"]+[data-name="signupform"], .widget[data-name="contentgroup"]+[data-name="tweet"], .widget[data-name="contentgroup"]+[data-name="dropbox"] {
    margin-top: 20px;
}

.widget+.widget {
    margin-top: 16px;
}
.widget {
    position: relative;
} */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
#precios {
    display:flex;
    /* background-color: blue; */
justify-content: space-evenly;
padding-top:0;
gap: 20px;
}

ul li {
    list-style-type:none;
}

#precios > * {
    border: 1.5px solid #a0a0a080;
    padding: 3%;
   
/* background-color:blanchedalmond; */
    
}

#precios > * > *{
    display:flex;
    justify-content: left;
}
.rich_text-99-6 {
    color: #4c92fa;
    font-weight:700;
    padding-bottom:40%;
}
#precios > * > * span {
    display:block;
    text-align: left !important;
}

#precios > *:hover {
    box-shadow: 5px 10px 28px #88888823;
border-color:#dce6f73f;
background-color:#dce6f72c;
    
}

.noches{
    color:#6da5fa;
    padding-top:3%;
    padding-bottom:3%;

}